* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-cell {
    background-color: teal;
}