.cells {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
}

.row {
  display: flex;
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  background: lightblue;
  border: 1px solid #333;
}
